body{
  background-color: black;
  font-family: monospace;
  color: green;
}

input[type=number] {
  border: solid 2px green;
  border-radius: 4px;
  background-color: black;
  color: green;
}
input[type=number]:focus {
  box-shadow: none;
  border: solid 2px green;
  border-radius: 4px;
  background-color: black;
  color: green;
}

#output, label, p {
  font-size: 1.5em;
}

.jumbotron {
  background-image: url("http://getwallpapers.com/wallpaper/full/2/9/5/364528.jpg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: green;
}

.btn {
  background-color: black;
  color: green;
  border: solid 1px green;
}

#output {
  text-align: center;
}
